aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
anyio==4.7.0
attrs==24.3.0
base58==2.1.1
Brotli==1.1.0
browser-history==0.4.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.0
Deprecated==1.2.15
ECPy==1.2.5
frozenlist==1.5.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
loguru==0.7.3
multidict==6.1.0
nest-asyncio==1.6.0
numpy==2.2.1
pandas==2.2.3
-e git+https://github.com/postfiatorg/pftpyclient@7e762e0ebca6c0424391ed8c6129961c6ff3db2e#egg=pftpyclient
prometheus_client==0.21.1
propcache==0.2.1
psutil==6.1.1
pycparser==2.22
pycryptodome==3.21.0
PyNaCl==1.5.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.16.1
pyqtgraph==0.13.7
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
sec-cik-mapper==2.1.0
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.36
toml==0.10.2
types-Deprecated==1.2.15.20241117
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
websockets==13.1
wrapt==1.17.0
wxPython==4.2.2
xrpl-py==4.0.0
yarl==1.18.3
